<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>상세보기</title>
    <link rel="stylesheet" th:href="@{/css/detail.css}">
</head>
<body>
<div class="container">
    <div class="title-section">
        <h1 th:text="${board.title}"></h1>
        <div class="meta-info">
            <p class="author" th:text="'글쓴이: ' + ${board.name}"></p>
            <p class="date" th:text="'최근 수정일 : ' + ${#temporals.format(board.created_at, 'yyyy/MM/dd/HH:mm')}"></p>
        </div>
        <div class="views">
            <p th:text="'조회수 : ' + ${board.views}"></p>
        </div>
    </div>

    <div class="content-section">
        <p th:text="${board.content}"></p>
    </div>

    <div class="like-section">
        <form th:action="@{/list/like/{boardId}(boardId=${board.id})}" method="post">
            <button type="submit">좋아요</button>
            <span th:text="'좋아요 수: ' + ${board.likes}"></span>
            <br>
        </form>
    </div>

    <div class="comment-section">
        <h2>댓글</h2>
        <ul>
            <li th:each="comment : ${comments}" th:if="${comment.boardId == board.id}" class="comment-item">
                <div class="comment-content">
                    <p th:text="${comment.username + ' : ' + comment.content}"></p>
                    <div class="comment-actions">
                        <a th:href="@{/list/comments/edit/{commentId}(commentId=${comment.id})}">수정</a>
                        <a th:href="@{/list/comments/delete/{commentId}(commentId=${comment.id})}">삭제</a>
                    </div>
                </div>
            </li>
        </ul>

        <form th:action="@{/list/comments/{boardId}(boardId=${board.id})}" method="post" class="comment-form">

            <div class="form-group">
                <div class="input-box">
                    <label for="username">이름</label>
                    <input type="text" id="username" th:field="*{newComment.username}" required>
                </div>
                <div class="input-box">
                    <label for="password">비밀번호</label>
                    <input type="password" id="password" th:field="*{newComment.password}" required>
                </div>
            </div>
            <p>댓글</p>
            <div class="form-group">
                <label for="content"></label>
                <input type="text" id="content" th:field="*{newComment.content}" required>
            </div>
            <button type="submit">댓글 작성</button>
        </form>
    </div>

    <div class="link-section">
        <a th:href="@{/list}">게시글 목록</a>
        <a th:href="@{/list/updateform/{id}(id=${board.id})}">글 수정</a>
        <a th:href="@{/list/deleteform/{id}(id=${board.id})}">글 삭제</a>
    </div>
</div>
</body>
</html>
