<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시글 목록</title>
    <link rel="stylesheet" th:href="@{/css/board.css}">
</head>
<body>
<div class="container">
    <h1>게시판</h1>
    <table th:if="${!boards.empty}">
        <thead>
        <tr>
            <th>ID</th>
            <th>글쓴이</th>
            <th>제목</th>
            <th>좋아요</th>
            <th>최근수정일</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="board : ${boards}">
            <td th:text="${board.id}"></td>
            <td th:text="${board.name}"></td>
            <td>
                <a th:href="@{/list/view/{id} (id=${board.id})}" th:text="${board.title}"></a>
            </td>
            <td th:text="${board.likes}"></td>
            <td th:text="${#temporals.format(board.created_at, 'yyyy/MM/dd')}">Created At</td>
        </tr>
        </tbody>
    </table>
    <div th:if="${boards.totalPages > 1}">
        <ul>
            <li th:each="i : ${#numbers.sequence(1, boards.totalPages)}">
                <a th:href="@{/list(page=${i})}" th:text="${i}"></a>
            </li>
        </ul>
    </div>
    <a th:href="@{/list/writeform}" class="write-link">글쓰기</a>
</div>
</body>
</html>
