<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>댓글 수정</title>
    <link rel="stylesheet" th:href="@{/css/edit_comment.css}">
</head>
<body>
<div class="container">
    <h2>댓글 수정</h2>
    <form th:action="@{/list/comments/edit/{commentId}(commentId=${comment.id})}" method="post" th:object="${comment}">
        <label for="username">이름</label>
        <input type="text" id="username" th:field="*{username}" required>
        <br>
        <label for="content">댓글</label>
        <input type="text" id="content" th:field="*{content}" required>
        <label for="password">비밀번호</label>
        <input type="password" id="password" th:field="*{password}" required>
        <div th:if="${error}">
            <p th:text="${error}"></p>
        </div>
        <input type="submit" value="수정">
    </form>
</div>
</body>
</html>
